
<main class="main-wrap">
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Add Categories </h2>
            </div>
            <div>
                <input type="text" placeholder="Search Categories" class="form-control bg-white">
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                {{#if catSaveMsg}}
                <div class="alert alert-success mt-3 alert-dismissible fade  {{#if catSaveMsg}}show{{/if}}"
                    role="alert">
                    {{catSaveMsg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{/if}}
                {{#if catExistMsg}}
                <div class="alert alert-danger mt-3 alert-dismissible fade {{#if catExistMsg}}show{{/if}}" role="alert">
                    {{catExistMsg}}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {{/if}}
                <div class="row">
                    <div class="col-md-12">
                        <form action="/admin/add_category" method="post" id="product_form'" class=""
                            enctype="multipart/form-data" onsubmit="return Validation()">
                            <div class="mb-4">
                                <label for="categoryName" class="form-label">Category Name:</label>
                                <input type="text" placeholder="Type here" class="form-control" name="name" id="name" />
                                <div class="error" style="color: red;" id="nameError"></div>
                            </div>



                            <div class="mb-4">
                                <label for="categoryImage" class="form-label">Category Image:</label>
                                <input type="file" placeholder="Type here" class="form-control-file" name="image"
                                    accept="image/*" id="image" />
                                <div class="error" style="color: red;" id="imageError"></div>


                            </div>
                            <div class="d-flex g-2">
                                <div class="m-2">
                                    <button type="submit" class="btn btn-primary">Create category</button>

                                </div>
                                <div class="m-2">
                                    <a href="/admin/Category" type="button" class="btn btn-primary" id="backbutton">Back</a>

                                </div>


                            </div>
                        </form>
                    </div>

                </div> <!-- .row // -->
            </div> <!-- card body .// -->
        </div> <!-- card .// -->
    </section> <!-- content-main end// -->
    <footer class="main-footer font-xs">
        <div class="row pb-30 pt-15">
            <div class="col-sm-6">
                <script>
                    document.write(new Date().getFullYear())
                </script> ©, Evara - HTML Ecommerce Template .
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end">
                    All rights reserved
                </div>
            </div>
        </div>
    </footer>
</main>

<script>
    function Validation() {
        let errors = []

        var name = document.getElementById('name').value;
        var image = document.getElementById('image')

        var nameerror = document.getElementById('nameError')
        var imageerror = document.getElementById('imageError')

        var categoryPattern = /^[a-zA-Z]{3,}$/;


        if (!name.match( categoryPattern)) {
        errors.push("Name Not Valid");
    }
        if (image.files.length === 0) {
            errors.push("Please choose an image");
        }





        if (errors.length > 0) {
            nameError.innerHTML = errors.includes("Name Not Valid") ? "Name Not Valid" : "";
            imageError.innerHTML = errors.includes("Please choose an image") ? "Please choose an image" : "";





            return false; // Prevent form submission
        }

        return true;



    }

</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    ////////////back
    $(document).ready(function () {
        $('#backbutton').click(function (e) {
            e.preventDefault();


            Swal.fire({
                title: "Leave the page?",
                text: "The Data will not be saved",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/admin/Category";

                }
            });


        });
    });
</script>