po


       {{#each bannerData}}
          <tr>
            
            <td>{{this.title}}</td>
            <td><img style="width 40px; height: 40px; " src="/uploads/{{this.image}}" alt=" image"></td>
            <td>
              {{!-- <a href="/admin/edit_category/{{this.id}}" onclick="return confirm ('Are you sure want to edit?')"
                type="button" class="btn btn-warning">Edit</a> --}}
              <a href="/admin/delete_banner?id={{this.id}}" onclick="return confirm ('Are you sure want to delete?')"
                type="button" class="btn btn-danger">Delete</a>
            </td>
          </tr>
          {{/each}}