


        <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assetsAdmin/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/assetsAdmin/css/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Profile
                    <span></span> General
                </div>
            </div>
        </div>
                <section class="content-main col-md-11">
            <div class="content-header">
                <h2 class="content-title">Profile setting </h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row gx-5">
                        {{> profileHeader}}

                        <div class="col-lg-9">
                            <section class="content-body p-xl-4">
                                <form method="get" action="/edit_details" >
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row gx-3">
                                                <div class="col-12  mb-3">
                                                    <label class="form-label">Name</label>
                                                    <input class="form-control" type="text" placeholder="{{userData.name}}" readonly> 
                                                </div> <!-- col .// -->
                                                {{!-- <div class="col-6  mb-3">
                                                    <label class="form-label">Last name</label>
                                                    <input class="form-control" type="text" placeholder="Type here">
                                                </div> <!-- col .// --> --}}
                                                <div class="col-lg-12  mb-3">
                                                    <label class="form-label">Email</label>
                                                    <input class="form-control" type="email" placeholder="{{userData.email}}" readonly>
                                                </div> <!-- col .// -->
                                                <div class="col-lg-12  mb-3">
                                                    <label class="form-label">Phone</label>
                                                    <input class="form-control" type="tel" placeholder="{{userData.mobile}}" readonly>
                                                </div> <!-- col .// -->
                                                {{!-- <div class="col-lg-12  mb-3">
                                                    <label class="form-label">Address</label>
                                                    <input class="form-control" type="text" placeholder="Type here">
                                                </div> <!-- col .// -->
                                                <div class="col-lg-6  mb-3">
                                                    <label class="form-label">Birthday</label>
                                                    <input class="form-control" type="date">
                                                </div> <!-- col .// --> --}}
                                            </div> <!-- row.// -->
                                        </div> <!-- col.// -->
                                        <aside class="col-lg-4">
                                            <figure class="text-lg-center">
                                                <img class="img-lg mb-3 img-avatar" src="/images/users/profile.jpg" alt="User Photo">
                                            </figure>
                                        </aside> <!-- col.// -->
                                    </div> <!-- row.// -->
                                    <br>
                                    <button class="btn btn-primary" type="submit" >Edit Profile</button>
                                </form>
                                <hr class="my-5">
                                <div class="row" style="max-width:920px">
                                    <div class="col-md">
                                        <article class="box mb-3 bg-light">
                                            <a class="btn float-end btn-light btn-sm rounded font-md" id = "changePasswordButton" href="/changePassword">Change</a>
                                            <h6>Password</h6>
                                            <small class="text-muted d-block" style="width:70%">You can reset or change your password by clicking here</small>
                                        </article>
                                    </div> <!-- col.// -->
                                    <div class="col-md">
                                        
                                    </div> <!-- col.// -->
                                </div> <!-- row.// -->
                            </section> <!-- content-body .// -->
                        </div> <!-- col.// -->
                    </div> <!-- row.// -->
                </div> <!-- card body end// -->
            </div> <!-- card end// -->
        </section> <!-- content-main end// -->
    </main>

        <script src="/assetsAdmin/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/assetsAdmin/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/assetsAdmin/js/vendors/select2.min.js"></script>
    <script src="/assetsAdmin/js/vendors/perfect-scrollbar.js"></script>
    <script src="/assetsAdmin/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="/assetsAdmin/js/main.js" type="text/javascript"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  // Function to show the SweetAlert confirmation dialog
  function showChangePasswordConfirmation() {
    Swal.fire({
      title: "Do you want to change your password?",
      text: "",
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes',
      cancelButtonText: 'No'
    }).then((result) => {
      if (result.isConfirmed) {
        // Redirect to the change password page
        window.location.href = '/changePassword';
      }
    });
  }

  // Attach the event listener to the "Change" button
  document.getElementById('changePasswordButton').addEventListener('click', function(event) {
    event.preventDefault(); // Prevent the default anchor behavior
    showChangePasswordConfirmation(); // Show the confirmation dialog
  });
</script>



