<body>
  <div class="container-fluid" style="margin-top: 100px;">
    <div class="row">

      <div class="col-md-12">

        
          {{!-- <div class="card-header">
            <h5>Cart</h5>
          </div> --}}
          
            <section class="mt-10 mb-50">
              <div class="container">
                <div class="row">
                  <div class="container mt-5">
                    <div class="row justify-content-center">
                      <div class="col-12">
                        <div class="text-center">
                          <img src="https://supershopping.lk/images/home/Cart-empty.gif" alt="Empty Cart Image"
                            style="width: 400px;" />
                          <h1 style="font-weight: 700;">Your Cart Is <span style="color: red;">Empty</span></h1>
                          <p>Add items to the cart before you proceed to checkout.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </section>
          
        

      </div>

    </div>

  </div>
</body>

<style>
  .btn-primary,
  .btn-primary.disabled,
  .btn-primary:disabled {
    background-color: #4466f2 !important;
    border-color: #4466f2 !important;
  }
</style>